@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 100px;
    color: #4f4d53;
    font-weight: 900;
}

h2 {
    font-size: 64px;
    color: #e8be02;
    font-weight: 900;
}

h3 {
    font-size: 20px;
    color: #e8be02;
    font-weight: 900;
}

h4 {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}

p {
    font-size: 20px;
    color: #4f4d53;
    font-weight: 400;
}

.main {
    margin: auto;
    width: 1440px;
}

.section-content {
    width: 60%;
    margin: auto;
}

.align-middle {
    vertical-align: middle;
}

.w-100 {
    width: 100%;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar {
    height: 48px;
    line-height: 48px;
    background-color: #4f4d53;
}

.hello {
    background-image: url("media/img_hero.jpg");
    width: 100%;
    height: 505px;
    line-height: 505px;
    margin-top: 0;
    margin-bottom: 0;
}

.how-it-started {
    margin-top: 45px;
    margin-bottom: 45px;
}

.yellow-band {
    height: 12px;
    background-color: #e8be02;
    margin-top: 45px;
}

.footer {
    height: 320px;
    background-color: #4f4d53;
}

.footer-column {
    display: inline;
    float: left;
    width: 25%;
}
